.App {
  text-align: center;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#worldmap { height: 100vh; width:auto;}
#diveSiteList { overflow-y: scroll ; height:80vh}
#searchMenu {width:320px; z-index:1000}
#waveSVG {
  height:75vh;
  width: auto;
  text-align:center;
  }
.Toastify__toast-container--top-right {
z-index: 200000;
}
#noMap{background-color:#82aa9f;height:100vh}
#locationComments{overflow-y: scroll ; height:40vh}
